* {
    margin: 0;
    padding: 0;
}


.container2 {
    height: auto; 
   
}

.navbar-nav .nav-link {
    transition: transform 200ms ease-in;
    

}

.navbar-nav .nav-link:hover {
    transform: scale(1.09);
    
}

.container3 {
    height: auto;
    padding-top: 40px;
     
}

.container3 h2 {
    text-align: center;
    color: #672405;
    font-family: Caveat, sans-serif;
    font-size: 50px;
}

.container3 h4 {
    text-align: center;
    color: #672405;
    font-family: Caveat, sans-serif;
    font-size: 26px;
    padding-bottom: 40px;
}

.obras {
    width: 100%;
    float: none;
}

 .card-body {
    position: relative;
    float:none;
    padding-bottom: 50px;
}

.card-body .btn {
    position: absolute;
    float: none;
    transition: transform 200ms ease-in-out;
    color:white; 
    background-color:#672405;
    width:83px; 
    font-size: 12px; 
    align-content: center;
} 

.card-body .btn:hover {
    transform: scale(1.08);
    color:aquamarine; 
}



.container4 {
    height: auto;
    padding-top: 40px;
    background-color: #E0F8E6;
    
}


.container4 h2 {
    text-align: center;
    color: #672405;
    font-family: Caveat, sans-serif;
    font-size: 50px;
}

.container4 h4 {
    text-align: center;
    color: #672405;
    font-family: Caveat, sans-serif;
    font-size: 26px;
    padding-bottom: 40px;
}

.Biografia {
    width: 100%;
    float: none;
}



.container6 {
    height: auto;
    padding-top: 40px;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    
}

.container6 h2 {
    text-align: center;
    color: #672405;
    font-family: Caveat, sans-serif;
    font-size: 40px;
}

.container6 h4 {
    text-align: center;
    color: #672405;
    font-family: Caveat, sans-serif;
    font-size: 26px;
    padding-bottom: 20px;
}

.container7 {
    height: auto;
    padding-top: 40px;
    background-color: #E0F8E6;
    padding-bottom: 0px;
    border: 2px solid #E0F8E6;
    
}

.container7 h2 {
    text-align: center;
    font-style: italic;
    color: #672405;
    font-family: Caveat, sans-serif;
    font-size: 50px;
}

.container7 h4 {
    text-align: center;
    font-style: italic;
    color: #672405;
    font-size: 26px;
    font-family: Caveat, sans-serif;
    font-size: 24px;
}


.container8 {
    width: 100%;
    height: auto;
    background-color: #672405;
    
}


.icone1 {
    position: relative;
    float: none;
    top: 10px;
} 


.icone2 {
    position: relative;
    float: none;
    top: -20%;
    left: 10%;
}


.container8 p {
    color: white;
    font-size: 12px;
    text-align: center;
    padding-top: 80px;
}


/* 
ESTILOS ACRESCENTADOS PELO JOAO
*/
.card img.card-img-top{
    transition: transform 200ms ease-in;
   }
   .card img.card-img-top:hover{
    transform: scale(1.07);
   }
    
   .aumentarImagem{
    
   }